<h1 class="title">Category title</h1>
<p class="description">Category description Category description Category description Category description Category description Category description Category description </p>
<a mat-raised-button color="primary" class="categorylink" href="https://google.com">
    <h2>Placeholder title <mat-icon class="downloadicon">download</mat-icon></h2>
    <span>Placeholder description Placeholder description Placeholder description Placeholder description Placeholder description Placeholder description</span>
</a>