<div *ngIf="categoryData && categoryData.items">
    <h1 class="centered">{{categoryData.categoryName}}</h1>
    <p class="centered">{{categoryData.categoryDescription}}</p>
    <div *ngFor="let item of categoryData.items">
        <a mat-raised-button color="primary" class="categorylink" [href]="'/dl' + item.Link">
            <h2>{{item.Name}} <mat-icon class="downloadicon">download</mat-icon></h2>
            <span>{{item.Description}}</span>
        </a>
    </div>
</div>
<div *ngIf="!categoryData || !categoryData.items">
    <mat-spinner class="centered" style="margin: auto"></mat-spinner>
</div>