.categorylink {
    width: 100%;
    height: fit-content;
    padding-top: 6px;
    padding-bottom: 6px;
}
.downloadicon {
    position: absolute;
    top: 10px;
    right: 0;
}
.title {
    text-align: center;
}